<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="/blue_short-logo.svg" alt="Movie App Logo" class="navbar-logo" [routerLink]="['/home']">
    </div>
    <div class="navbar-nav">
      @if (authService.currentUser()) {
        <a routerLink="/home" class="nav-link">HOME</a>
        <button (click)="onLogout()" class="nav-link nav-btn" >Logout</button>
      } @else {
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Sign Up</a>
      }
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

@if (shouldShowFooter()) {
  <footer>
    <p>© 2025 Movie App</p>
  </footer>
}
